<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/default}">
		
	<section layout:fragment="contents">
		<h1 class="text-center mt-5">구매 후기 작성</h1>
		<article class="mt-4 d-flex justify-content-center">
			<div class="col-9">
				<div class="border border-secondary d-flex align-items-center">
					<img width="90px" height="90px" class="my-3 ml-3" alt="리뷰이미지" src="http://w.jiujitsukor.com/web/product/big/202408/62e85b5892de708f6312b5f11542d242.webp">
					<button type="button" class="btn btn-outline-secondary mx-3">주문상품선택</button>
					<div>상품명</div>
				</div>
				<div>
					<div class="border-secondary border-top border-bottom mt-4">
						<div class="d-flex border-secondary border-top">
							<h5 class="create-cartegori mx-3 mt-2">제목</h5>
							<div class="border-left border-secondary col-10">
								<input type="text" class="border-secondary ml-3 my-1 form-control">
							</div>
						</div>
					</div>
					<div class="d-flex border-secondary border-bottom">
						<h5 class="create-cartegori mx-3 mt-2">평점</h5>
						<div class="border-left border-secondary col-10">
							<select class="border-secondary ml-3 my-1 form-control col-2">
								<option>★★★★★</option>
								<option>★★★★☆</option>
								<option>★★★☆☆</option>
								<option>★★☆☆☆</option>
								<option>★☆☆☆☆</option>
							</select>
						</div>
					</div>
					<div class="d-flex border-secondary border-bottom">
						<textarea class="my-1 form-control"></textarea>
					</div>
					<div class="d-flex border-secondary border-bottom">
						<h5 class="create-cartegori mx-3 mt-2">첨부파일 1</h5>
						<div class="border-left border-secondary">
								<input type="file" class="ml-3 my-1">
						</div>
					</div>
					<div class="d-flex border-secondary border-bottom">
						<h5 class="create-cartegori mx-3 mt-2">첨부파일 2</h5>
						<div class="border-left border-secondary">
								<input type="file" class="ml-3 my-1">
						</div>
					</div>
					<div class="d-flex border-secondary border-bottom">
						<h5 class="create-cartegori mx-3 mt-2">첨부파일 3</h5>
						<div class="border-left border-secondary">
								<input type="file" class="ml-3 my-1">
						</div>
					</div>
					<div class="d-flex border-secondary border-bottom">
						<h5 class="create-cartegori mx-3 mt-2">첨부파일 4</h5>
						<div class="border-left border-secondary">
								<input type="file" class="ml-3 my-1">
						</div>
					</div>
					<div class="border-secondary border-bottom">
						<div class="d-flex border-secondary border-bottom">
							<h5 class="create-cartegori mx-3 mt-2">첨부파일 5</h5>
							<div class="border-left border-secondary">
								<input type="file" class="ml-3 my-1">
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-between mt-3">
						<button class="create-button btn btn-outline-secondary">목록</button>
						<div class="d-flex">
							<button class="create-button btn btn-dark mr-3">등록</button>
							<button class="create-button btn btn-outline-secondary">취소</button>
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
</html>