<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/default}">
		
	<section layout:fragment="contents">
		<h1 class="text-center">구매 후기</h1>
		<article class="mt-5 d-flex justify-content-center">
			<!-- 리뷰카드 -->
				<div class="review-card mx-3">
					<img class="review-card-img border" alt="리뷰사진" src="https://jiujitsukor.com/web/product/extra/big/202410/8630ba921a6f4affaf3e38251bd76482.jpg">
					<div class="review-card-text border-bottom border-left border-right">
						<div class="mx-2">
							<div><b>사이즈 참고하세요</b></div>
							<div>	
								디자인은 이쁘나 도복이… 매우 큽니다.. 
								라펠도 매우 길구요.. 핏이 안사네요.. 
								<br><span>★★★☆☆</span>
							</div>
							<div class="d-flex justify-content-between">
								<span>user01</span><span>2024-09-29</span>
							</div>
						</div>
					</div>
					<div class="review-card-goods d-flex align-items-center justify-content-around border-bottom border-left border-right">
						<img width="60px" height="60px" alt="리뷰 상품" src="https://jiujitsukor.com/web/product/extra/big/202410/8630ba921a6f4affaf3e38251bd76482.jpg">
						<div class="text small">Jhood X Devilock '플래시' 주짓수 도복</div>
					</div>
				</div>
			<!-- /리뷰카드 -->
			<!-- 리뷰카드 -->
				<div class="review-card mx-3">
					<img class="review-card-img border" alt="리뷰사진" src="https://jiujitsukor.com/web/product/extra/big/202410/8630ba921a6f4affaf3e38251bd76482.jpg">
					<div class="review-card-text border-bottom border-left border-right">
						<div class="mx-2">
							<div><b>사이즈 참고하세요</b></div>
							<div>	
								디자인은 이쁘나 도복이… 매우 큽니다.. 
								라펠도 매우 길구요.. 핏이 안사네요.. 
								<br><span>★★★☆☆</span>
							</div>
							<div class="d-flex justify-content-between">
								<span>user01</span><span>2024-09-29</span>
							</div>
						</div>
					</div>
					<div class="review-card-goods d-flex align-items-center justify-content-around border-bottom border-left border-right">
						<img width="60px" height="60px" alt="리뷰 상품" src="https://jiujitsukor.com/web/product/extra/big/202410/8630ba921a6f4affaf3e38251bd76482.jpg">
						<div class="text small">Jhood X Devilock '플래시' 주짓수 도복</div>
					</div>
				</div>
			<!-- /리뷰카드 -->
			<!-- 리뷰카드 -->
				<div class="review-card mx-3">
					<img class="review-card-img border" alt="리뷰사진" src="https://jiujitsukor.com/web/product/extra/big/202410/8630ba921a6f4affaf3e38251bd76482.jpg">
					<div class="review-card-text border-bottom border-left border-right">
						<div class="mx-2">
							<div><b>사이즈 참고하세요</b></div>
							<div>	
								디자인은 이쁘나 도복이… 매우 큽니다.. 
								라펠도 매우 길구요.. 핏이 안사네요.. 
								<br><span>★★★☆☆</span>
							</div>
							<div class="d-flex justify-content-between">
								<span>user01</span><span>2024-09-29</span>
							</div>
						</div>
					</div>
					<div class="review-card-goods d-flex align-items-center justify-content-around border-bottom border-left border-right">
						<img width="60px" height="60px" alt="리뷰 상품" src="https://jiujitsukor.com/web/product/extra/big/202410/8630ba921a6f4affaf3e38251bd76482.jpg">
						<div class="text small">Jhood X Devilock '플래시' 주짓수 도복</div>
					</div>
				</div>
			<!-- /리뷰카드 -->
		</article>
		<article class="mt-5 d-flex justify-content-center">
			<!-- 리뷰카드 -->
				<div class="review-card mx-3">
					<img class="review-card-img border" alt="리뷰사진" src="https://jiujitsukor.com/web/product/extra/big/202410/8630ba921a6f4affaf3e38251bd76482.jpg">
					<div class="review-card-text border-bottom border-left border-right">
						<div class="mx-2">
							<div><b>사이즈 참고하세요</b></div>
							<div>	
								디자인은 이쁘나 도복이… 매우 큽니다.. 
								라펠도 매우 길구요.. 핏이 안사네요.. 
								<br><span>★★★☆☆</span>
							</div>
							<div class="d-flex justify-content-between">
								<span>user01</span><span>2024-09-29</span>
							</div>
						</div>
					</div>
					<div class="review-card-goods d-flex align-items-center justify-content-around border-bottom border-left border-right">
						<img width="60px" height="60px" alt="리뷰 상품" src="https://jiujitsukor.com/web/product/extra/big/202410/8630ba921a6f4affaf3e38251bd76482.jpg">
						<div class="text small">Jhood X Devilock '플래시' 주짓수 도복</div>
					</div>
				</div>
			<!-- /리뷰카드 -->
			<!-- 리뷰카드 -->
				<div class="review-card mx-3">
					<img class="review-card-img border" alt="리뷰사진" src="https://jiujitsukor.com/web/product/extra/big/202410/8630ba921a6f4affaf3e38251bd76482.jpg">
					<div class="review-card-text border-bottom border-left border-right">
						<div class="mx-2">
							<div><b>사이즈 참고하세요</b></div>
							<div>	
								디자인은 이쁘나 도복이… 매우 큽니다.. 
								라펠도 매우 길구요.. 핏이 안사네요.. 
								<br><span>★★★☆☆</span>
							</div>
							<div class="d-flex justify-content-between">
								<span>user01</span><span>2024-09-29</span>
							</div>
						</div>
					</div>
					<div class="review-card-goods d-flex align-items-center justify-content-around border-bottom border-left border-right">
						<img width="60px" height="60px" alt="리뷰 상품" src="https://jiujitsukor.com/web/product/extra/big/202410/8630ba921a6f4affaf3e38251bd76482.jpg">
						<div class="text small">Jhood X Devilock '플래시' 주짓수 도복</div>
					</div>
				</div>
			<!-- /리뷰카드 -->
			<!-- 리뷰카드 -->
				<div class="review-card mx-3">
					<img class="review-card-img border" alt="리뷰사진" src="https://jiujitsukor.com/web/product/extra/big/202410/8630ba921a6f4affaf3e38251bd76482.jpg">
					<div class="review-card-text border-bottom border-left border-right">
						<div class="mx-2">
							<div><b>사이즈 참고하세요</b></div>
							<div>	
								디자인은 이쁘나 도복이… 매우 큽니다.. 
								라펠도 매우 길구요.. 핏이 안사네요.. 
								<br><span>★★★☆☆</span>
							</div>
							<div class="d-flex justify-content-between">
								<span>user01</span><span>2024-09-29</span>
							</div>
						</div>
					</div>
					<div class="review-card-goods d-flex align-items-center justify-content-around border-bottom border-left border-right">
						<img width="60px" height="60px" alt="리뷰 상품" src="https://jiujitsukor.com/web/product/extra/big/202410/8630ba921a6f4affaf3e38251bd76482.jpg">
						<div class="text small">Jhood X Devilock '플래시' 주짓수 도복</div>
					</div>
				</div>
			<!-- /리뷰카드 -->
		</article>
	</section>
</html>