<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/administrator}">
		
	<section layout:fragment="contents">
		<h1 class="text-center mt-3">상품 등록</h1>
		<article class="mt-3 administrator-main">
			<h5>상품명</h5>
			<input type="text" class="form-control mb-1">
			<h5>가격</h5>
			<input type="text" class="form-control mb-1">
			<h5>브랜드</h5>
			<select class="form-control mb-1">
				<option>브랜드 명</option>
			</select>
			<h5>카테고리</h5>
			<select class="form-control mb-1">
				<option>카테고리</option>
			</select>
			<h5>사이즈</h5>
			<div class="border-secondary border-bottom border-top">
				<form class="border-secondary border-bottom border-top">
					<div class="size-warp">
						<div class="size-list d-flex">
							<div class="size-select d-flex">
								<select class="size-select-box create-cartegori form-control mx-3 my-1" name="size_array[]">
									<option value="A-0">A-0</option>
									<option value="A-1">A-1</option>
									<option value="A-2">A-2</option>
									<option value="direct">직접입력</option>
								</select>
								<input type="text" class="size-input create-cartegori form-control mr-3 my-1 d-none">
							</div>
							<div class="d-flex align-items-center border-left border-secondary">
								<input type="text" name="size_count_array[]" class="form-control mx-2 my-1"><span>개</span>
							</div>
							<button type="button" class="size-add btn btn-success ml-3 my-1" id="sizeAddBtn">추가</button>
						</div>
					</div>
				</form>
			</div>
			<h5>상세설명</h5>
			<textarea class="form-control mb-1" rows="" cols=""></textarea>
			<div class="border-secondary border-top mt-3">
				<div class="d-flex border-secondary border-bottom border-top">
					<h5 class="create-cartegori mx-3 mt-2">메인이미지</h5>
					<div class="border-left border-secondary">
								<input type="file" class="ml-3 my-1">
					</div>
				</div>
			</div>
			<div class="d-flex border-secondary border-bottom">
				<h5 class="create-cartegori mx-3 mt-2">첨부파일 1</h5>
				<div class="border-left border-secondary">
								<input type="file" class="ml-3 my-1">
				</div>
			</div>
			<div class="d-flex border-secondary border-bottom">
				<h5 class="create-cartegori mx-3 mt-2">첨부파일 2</h5>
				<div class="border-left border-secondary">
								<input type="file" class="ml-3 my-1">
				</div>
			</div>
			<div class="d-flex border-secondary border-bottom">
				<h5 class="create-cartegori mx-3 mt-2">첨부파일 3</h5>
				<div class="border-left border-secondary">
								<input type="file" class="ml-3 my-1">
				</div>
			</div>
			<div class="border-secondary border-bottom">
				<div class="d-flex border-secondary border-bottom">
					<h5 class="create-cartegori mx-3 mt-2">첨부파일 4</h5>
					<div class="border-left border-secondary">
								<input type="file" class="ml-3 my-1">
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-between mt-3">
				<button class="create-button btn btn-outline-secondary">목록</button>
				<div class="d-flex">
					<button class="create-button btn btn-dark mr-3">등록</button>
					<button class="create-button btn btn-outline-secondary">취소</button>
				</div>
			</div>
		</article>
	</section>
	
	<script layout:fragment="script">
		$(document).ready(function(){
			
			// 사이즈 직접입력
			$(".size-select").on("change", ".size-select-box",function(){
				
				if($(this).val() == "direct") {
					$(".size-input").removeClass("d-none");
			      }  else {
			        $(".size-input").addClass("d-none");
			      }
				
			})
			
			
			// 사이즈 추가
			var sizeCount = 1;
			const sizeCountmax = 5;
			
			$(".size-add").on("click", function(e){
				e.preventDefault(); // 페이지 리로드 방지
			    if (sizeCount < sizeCountmax) { // 최대 필드 수 체크
			    	sizeCount++; // 필드 수 증가
			        // 새 입력 필드 추가
			        $(".size-warp").append(
		        		"<div class='size-list d-flex border-secondary border-top'>"
							+"<div class='size-select d-flex'>"
			        			+"<select class='size-select-box create-cartegori form-control mx-3 my-1' name='size_array[]'>"
									+"<option value='A-0'>A-0</option>"
									+"<option value='A-0'>A-1</option>"
									+"<option value='A-0'>A-2</option>"
									+"<option value='direct'>직접입력</option>"
								+"</select>"
								+"<input type='text' class='size-input create-cartegori form-control mr-3 my-1 d-none'>"
							+"</div>"
							+"<div class='d-flex align-items-center border-left border-secondary'>"
								+"<input type='text' name='size_count_array[]' class='form-control mx-2 my-1'><span>개</span>"
							+"</div>"
							+"<a href='javascript:void(0);'  class='size-delete btn btn-danger ml-3 my-1'>삭제</a>"
						+"</div>"
			        );
			    }
			});
			
			// 사이즈 삭제
			$(".size-warp").on("click", ".size-delete", function(e){
				e.preventDefault(); // 페이지 리로드 방지
			 	$(this).parent(".size-list").remove(); // 필드 제거
				sizeCount--; // 필드 수 감소				
			});
			
			
			
		});
	</script>
</html>