<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/administrator}">
		
	<section layout:fragment="contents">
		<h1 class="text-center mt-3">게시판 관리</h1>
		<article class="mt-3">
			<div class="list">
				<table class="table text-center mt-2">
					<thead>
						<tr>
							<th>NO</th>
							<th>제목</th>
							<th>작성자</th>
							<th>작성일</th>
							<th>삭제</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="board : ${boardList}">
							<td th:text="${board.boardId}">155</td>
							<td><a th:href="@{/nowjiu/administrator/board-detail(boradId=${board.boardId})}" th:text="${board.title}">오늘 할일</a></td>
							<td th:text="${board.userName}">user01</td>
							<td th:text="${#temporals.format(board.boardCreate, 'yyyy-MM-dd')}">2024-09-10</td>
							<td>
								<button th:data-board-id="${board.boardId}" class="btn btn-danger btn-block delete-btn">삭제</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
	</section>
	<script layout:fragment="script">
			$(document).ready(function(){
				
				$(".delete-btn").on("click", function(){
					let id = $(this).data("board-id");
					
					$.ajax({
						type:"delete"
						, url: "/api/board/delete"
						, data: {"id":id}
						, success:function(data){
							if(data.result == "success"){
								location.reload();
							} else{
								alert("메모 입력 실패!!");
							}
						}
						, erorr: function(){
							alert("메모 입력 에러!!");
						}
					})
					
					
				});
				
				
			});
		</script>
</html>