<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/administrator}">
		
	<section layout:fragment="contents">
		<h1 class="text-center mt-3">게시판 관리</h1>
		<article class="mt-3">
			<div class="list">
				<table class="table text-center mt-2">
					<thead>
						<tr>
							<th>NO</th>
							<th>제목</th>
							<th>작성자</th>
							<th>작성일</th>
							<th>삭제</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>155</td>
							<td><a>AESTHETIC 셀렉트 주짓수 도복 (2 컬러)</a></td>
							<td>작성자</td>
							<td>2024-09-04</td>
							<td>
								<button class="btn btn-danger btn-block">삭제</button>
							</td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</article>
	</section>
</html>