<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/administrator}">
		
	<section layout:fragment="contents">
		<article class="mt-4 d-flex justify-content-center">
			<div class="d-flex">
				<div class="administrator-categori border border-secondary text-center mr-3">
					<h2 class="mt-5">등록회원</h2>
					<h2 class="mt-5">00명</h2>
				</div>          
				<div class="administrator-categori border border-secondary text-center mr-3">
					<h2 class="mt-5">등록상품</h2>
					<h2 class="mt-5">00개</h2>
				</div>          
				<div class="administrator-categori border border-secondary text-center mr-3">
					<h2 class="mt-5">주문건수</h2>
					<h2 class="mt-5">00개</h2>
				</div>          
				<div class="administrator-categori border border-secondary text-center mr-3">
					<h2 class="mt-5">리뷰</h2>
					<h2 class="mt-5">00개</h2>
				</div>          
			</div>
		</article>
	</section>
</html>