<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/administrator}">
		
	<section layout:fragment="contents">
		<article class="mt-4 d-flex justify-content-center">
			<div class="d-flex">
				<div id="member" class="administrator-categori border border-secondary text-center mr-3">
					<h2 class="mt-5">등록회원</h2>
					<h2 class="mt-5" th:text="|${main.userCount} 명|">00명</h2>
				</div>          
				<div id="goods" class="administrator-categori border border-secondary text-center mr-3">
					<h2 class="mt-5">등록상품</h2>
					<h2 class="mt-5" th:text="|${main.goodsCount} 개|">00개</h2>
				</div>          
				<div id="order" class="administrator-categori border border-secondary text-center mr-3">
					<h2 class="mt-5">주문건수</h2>
					<h2 class="mt-5" th:text="|${main.orderCount} 개|">00개</h2>
				</div>          
				<div id="review" class="administrator-categori border border-secondary text-center mr-3">
					<h2 class="mt-5">리뷰</h2>
					<h2 class="mt-5" th:text="|${main.reviewCount} 개|">00개</h2>
				</div>          
			</div>
		</article>
	</section>
	<script layout:fragment="script">
		$(document).ready(function(){
			
			//회원관리 페이지 이동
			$("#member").on("click", function(){
				location.href = "/nowjiu/administrator/member";
			});
			//상품관리 페이지 이동
			$("#goods").on("click", function(){
				location.href = "/nowjiu/administrator/goods";
			});
			//주문 페이지 이동
			$("#order").on("click", function(){
				location.href = "/nowjiu/administrator/order";
			});
			//상품관리 페이지 이동
			$("#review").on("click", function(){
				location.href = "/nowjiu/administrator/review";
			});
			
		});
	</script>
</html>