<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/administrator}">
		
	<section layout:fragment="contents">
		<h1 class="text-center mt-3">리뷰 관리</h1>
		<article class="mt-3">
			<div class="list">
				<table class="table mt-2">
					<thead class="text-center">
						<tr>
							<th class="col-1">NO</th>
							<th class="col-3">상품명</th>
							<th class="col-4">리뷰내용</th>
							<th class="col-3">답변</th>
							<th class="col-1">삭제</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="review : ${reivews}">
							<td class="align-middle text-center" th:text="${review.reviewId}">155</td>
							<td class="text-center">
								<img th:if="${review.reviewImage != null}" width="200px" height="200px" class="border" alt="리뷰사진" th:src="${review.reviewImage}">
								<img th:unless="${review.reviewImage != null}" width="200px" height="200px" class="border" alt="리뷰사진" th:src="${review.goodsImage}">
								<div th:text="${review.goodsname}">AESTHETIC 셀렉트 주짓수 도복 (2 컬러)</div>
							</td>
							<td class="align-middle">
								<div>
									<h5 th:text="${review.reviewTitle}">제목</h5>
									<div th:text="${review.reviewContents}">리뷰내용</div>
									<div class="mt-2" th:switch="${review.reviewCount}">
								    	<span th:case="5">★★★★★</span>
								    	<span th:case="4">★★★★☆</span>
								    	<span th:case="3">★★★☆☆</span>
								    	<span th:case="2">★★☆☆☆</span>
								    	<span th:case="1">★☆☆☆☆</span>
								  	</div>
									<div class="d-flex justify-content-between text-secondary sm">
										<div th:text="${review.reviewUserName}">user</div>
										<div th:text="${#temporals.format(review.reviewDate, 'yyyy년 MM월 dd일')}">2024-09-29</div>
									</div>
								</div>
							</td>
							<td class="align-middle">
								<textarea class="col-12" rows="8"></textarea> <br>
								<button class="btn btn-outline-secondary btn-block">답변달기</button>
							</td>
							<td class="align-middle"><span data-toggle="modal" data-target="#moreModal" class="btn btn-danger more-btn" th:data-review-id="${review.reviewId}">삭제</span></td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</article>
		<!-- Modal -->
			<div class="modal fade" id="moreModal">
			  <div class="modal-dialog modal-dialog-centered">
			    <div class="modal-content">
			      <div class="modal-body text-center">
			        <a id="deleteBtn">삭제하기</a>
			      </div>
			    </div>
		      </div>
		 	</div>
	</section>
	<script layout:fragment="script">
		$(document).ready(function(){
			// 상품삭제
			$("#deleteBtn").on("click",function(){
				let reviewId = $(this).data("goods-id");
				
				$.ajax({
					type:"delete"
					, url:"/api/review-delete"
					, data:{"reviewId":reviewId}
					, success:function(data){
						if(data.result == "success"){
							location.reload();
						}else{
							alert("삭제 실패");
						}
					}
					, error:function(){
						alert("삭제 오류");
					}			
				});	
			});
			
			// 모달에 값 전달
			$(".more-btn").on("click", function(){
				
				let goodsId = $(this).data("goods-id");
				
				$("#deleteBtn").data("goods-id", goodsId);
			});
			
		})
	</script>
</html>