<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/default}">
		
	<section layout:fragment="contents">
		<article>
			<h1 class="text-center mt-5">장바구니</h1>
			<table class="table text-center mt-5">
				<thead>
					<tr>
						<th>선택</th>
						<th>상품명</th>
						<th>가격</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cart:${cartDto.cartGoods}">
						<td class="align-middle"><input class="cartChk" type="checkbox" th:data-cart-price="${cart.price}" th:value="${cart.cartId}"></td>
						<td class="align-middle">
							<div class="d-flex align-items-center">				
								<img class="ml-5 my-2" width="150px" height="150px" alt="선택상품" th:src="${cart.image}">
								<div class="ml-3">
									<div th:text="${cart.name}">상품명</div>
								</div>
							</div>
						</td>
						<td class="align-middle">
							<div class="good-price" th:text="|${#numbers.formatInteger(cart.price, 3, 'COMMA')}원|">가격</div>
						</td>
						<td class="align-middle">
							<h1 class="cart-delete-btn" th:data-cart-id="${cart.cartId}"><i class="bi bi-x-lg"></i></h1>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="border border-dark mt-4">
				<div class="mx-5 my-2">주문상품</div>
				<div class="border-top border-dark d-flex justify-content-between mx-5">
				 <span class="my-3">총 선택 상품금액</span>
				 <span class="my-3" id="totalPrice">0원</span>
				</div>
			</div>
			<div class="d-flex align-items-center justify-content-between mt-5">
				<button type="button" class="btn btn-dark btn-block mr-2" id="AllOrder">전체상품주문</button>
				<button type="button" class="btn btn-outline-secondary btn-block m-0" id="selectOrder">선택상품주문</button>
			</div>
		</article>		
	</section>
	<script layout:fragment="script">
		$(document).ready(function(){
			
			// 체크된 상품 총 가격
			$(".cartChk").click(function(event) {
				let total = 0;
				$(".cartChk:checked").each(function() {
					total += $(this).data("cart-price");
				});
				
				total = comma(total);
				
				$('#totalPrice').text(total+"원");
			});
			
			function comma(num) {
			    num = String(num);
			    return num.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
			}
			
			
			// 전체 결제창 이동
			$("#AllOrder").on("click",function(){
				location.href = "/nowjiu/order-all-cart";
			})
			// 선택 결제창 이동
			$("#selectOrder").on("click",function(){
				const checkedChks = document.querySelectorAll(".cartChk:Checked");
				if(checkedChks.length == 0){
					alert('선택한 상품이 없습니다.');		
					return ;
				}
				
				let cartIdArr = [];
				
				for(const checkedChk of checkedChks){
					cartIdArr.push(checkedChk.value);
		        }
				location.href = "/nowjiu/order-selete-cart?cartIdList=" + cartIdArr;
			})
			
			
			// 장바구니 삭제
			$(".cart-delete-btn").on("click",function(){
				let cartId = $(this).data("cart-id");
				
				$.ajax({
					type:"delete"
					, url: "/api/cart-delete"
					, data: {"cartId":cartId}
					, success: function(data){
						if(data.result == "success"){
							location.reload();
						}else{
							alert("장바구니 삭제 오류");
						}
					}
					, error: function(){
						alert("장바구니 삭제 에러");
					}
				});
			})
                
		});
	</script>
	
</html>