<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/default}">
		
	<section layout:fragment="contents">
		<div class="d-flex justify-content-center mt-5">
			<article class="goods-info mr-3">
				<img width="500px" height="500px" alt="메인 이미지" th:src="${goods.mainImage}">
				<div id="infoList" class="d-flex mt-2" >
					<img class="mx-1" width="90px" height="90px" alt="참조이미지" th:each="info:${goods.infoImage}" th:src="${info.image}">
				</div>
			</article>
			<aside class="goods-info ml-3">
				<h4 th:text="${goods.name}">Moya 스타즈 & 스트라입스 주짓수 도복</h4>
				<div class="mt-2" th:utext="${goods.description}">
					불테리어 브랜드의 인기 모델 '아칼라나타 R.24' 버전의 주짓수 도복을 소개합니다.
					불꽃으로 세속적인 욕망을 불태우고, 검으로 악을 물리치는 수호신 '후도 묘오'를 디자인하였습니다.
					2024년 IBJJF 규정에 맞춰 제작되었기 때문에 이전 모델처럼 자켓 안에 메쉬 원단이 없는 점 이용에 참고하여 주세요.<br><br>
					
					ㆍ2024년 IBJJF 시합 승인 도복 <br>
					ㆍ480GSM 펄위브 자켓<br>
					ㆍ240GSM 립스탑 팬츠<br>
					ㆍ가볍고 내구성이 좋은 원단으로 제작하였습니다<br>
					ㆍ가벼운 무게의 원단은 편안한 착용감을 제공합니다<br>
					ㆍ3중 보강 박음질로 내구성을 더 합니다<br>
					ㆍ선수축 원단으로 세탁 이후에도 수축이 적습니다<br>
					ㆍ도복을 담을 수 있는 백 포함<br>
				</div>
				<div class="mt-3">사이즈</div>
				<select class="form-control col-3">
					<option>사이즈</option>
					<option>A-0</option>
					<option>A-1</option>
					<option>A-2</option>
					<option>A-3</option>
				</select>
				<div>
					<hr>
						<h4 th:text="|가격 : ${#numbers.formatInteger(goods.price, 3, 'COMMA')}원|">289,000원</h4>
					<hr>	
				</div>
				<div class="d-flex align-items-center justify-content-between">
					<button type="button" id="orderBtn" class="btn btn-dark btn-block mr-2" th:data-goods-id="${goods.goodsId}">구매하기</button>
					<button type="button" id="cartBtn" class="btn btn-outline-secondary btn-block m-0" th:data-goods-id="${goods.goodsId}">장바구니</button>
				</div>
			</aside>
		</div>
		<div class="mt-5 ">
			<div class="text-center">
				<h2>상품상세정보</h2><hr>
				<img width="800" alt="상세 이미지" th:each="info:${goods.infoImage}" th:src="${info.image}">
			</div>
			<h3 class="text-center">REVIEW</h3>
			<hr>
				<div>★★★☆☆</div>
				<div>사이즈 참고하세요</div>
				<div>디자인은 이쁘나 도복이… 매우 큽니다.. 라펠도 매우 길구요.. 핏이 안사네요</div>
				<div><span>USER01</span> | <span>2024-09-29</span></div>
			<hr>
		</div>
		
	</section>
	<script layout:fragment="script">
		$(document).ready(function(){
			
			// 장바구니 추가
			$("#cartBtn").on("click",function(){
                let goodsId = $(this).data("goods-id");
                
                $.ajax({
					type:"post"
					, url: "/api/cart-add"
					, data: {"goodsId":goodsId}
					, success: function(data){
						if(data.result == "success"){
							alert("장바구니 추가");
						}else{
							alert("장바구니에 추가되어 있습니다.");
						}
					}
					, error: function(){
						alert("구매 에러");
					}
				});
                
			});
			
			// 구매하기 추가
			$("#orderBtn").on("click",function(){
                let goodsId = $(this).data("goods-id");
                
				 location.href = "/nowjiu/order?goodsId=" + goodsId;
			});
		});
	</script>
</html>