<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/default}">
		
	<section layout:fragment="contents">
		<article>
			<h1 class="text-center mt-5">주짓수 도복</h1>
			<div class="goods-list-kategorie d-flex justify-content-between mt-4 ml-5">
				<span>TOTAL 000ITEM</span>
				<select class="form-control col-2">
					<option>신상품</option>
					<option>상품명</option>
					<option>낮은가격</option>
					<option>높은가격</option>
				</select>
			</div>
			<div class="d-flex justify-content-between mb-2">
				<!-- 상품카드 -->
				<div>
					<div class="d-flex justify-content-center">
						<img class="best-item" alt="상품" src="https://jiujitsukor.com/web/product/extra/big/202408/43fd8d19f59ea383e1ee55a04400b031.jpg">
					</div>
					<div class="d-flex justify-content-center">
						<span class="col-10 p-0">
							디 아틀라스 '프로 스탠다드 24' 주짓수 도복 (3 컬러)<br>
							172,000원
						</span>	
					</div>
				</div>
				<!-- /상품카드 -->
				<!-- 상품카드 -->
				<div>
					<div class="d-flex justify-content-center">
						<img class="best-item" alt="상품" src="https://jiujitsukor.com/web/product/extra/big/202408/43fd8d19f59ea383e1ee55a04400b031.jpg">
					</div>
					<div class="d-flex justify-content-center">
						<span class="col-10 p-0">
							디 아틀라스 '프로 스탠다드 24' 주짓수 도복 (3 컬러)<br>
							172,000원
						</span>	
					</div>
				</div>
				<!-- /상품카드 -->
				<!-- 상품카드 -->
				<div>
					<div class="d-flex justify-content-center">
						<img class="best-item" alt="상품" src="https://jiujitsukor.com/web/product/extra/big/202408/43fd8d19f59ea383e1ee55a04400b031.jpg">
					</div>
					<div class="d-flex justify-content-center">
						<span class="col-10 p-0">
							디 아틀라스 '프로 스탠다드 24' 주짓수 도복 (3 컬러)<br>
							172,000원
						</span>	
					</div>
				</div>
				<!-- /상품카드 -->
				<!-- 상품카드 -->
				<div>
					<div class="d-flex justify-content-center">
						<img class="best-item" alt="상품" src="https://jiujitsukor.com/web/product/extra/big/202408/43fd8d19f59ea383e1ee55a04400b031.jpg">
					</div>
					<div class="d-flex justify-content-center">
						<span class="col-10 p-0">
							디 아틀라스 '프로 스탠다드 24' 주짓수 도복 (3 컬러)<br>
							172,000원
						</span>	
					</div>
				</div>
				<!-- /상품카드 -->
			</div>
			<div class="d-flex justify-content-between mb-2">
				<!-- 상품카드 -->
				<div>
					<div class="d-flex justify-content-center">
						<img class="best-item" alt="상품" src="https://jiujitsukor.com/web/product/extra/big/202408/43fd8d19f59ea383e1ee55a04400b031.jpg">
					</div>
					<div class="d-flex justify-content-center">
						<span class="col-10 p-0">
							디 아틀라스 '프로 스탠다드 24' 주짓수 도복 (3 컬러)<br>
							172,000원
						</span>	
					</div>
				</div>
				<!-- /상품카드 -->
				<!-- 상품카드 -->
				<div>
					<div class="d-flex justify-content-center">
						<img class="best-item" alt="상품" src="https://jiujitsukor.com/web/product/extra/big/202408/43fd8d19f59ea383e1ee55a04400b031.jpg">
					</div>
					<div class="d-flex justify-content-center">
						<span class="col-10 p-0">
							디 아틀라스 '프로 스탠다드 24' 주짓수 도복 (3 컬러)<br>
							172,000원
						</span>	
					</div>
				</div>
				<!-- /상품카드 -->
				<!-- 상품카드 -->
				<div>
					<div class="d-flex justify-content-center">
						<img class="best-item" alt="상품" src="https://jiujitsukor.com/web/product/extra/big/202408/43fd8d19f59ea383e1ee55a04400b031.jpg">
					</div>
					<div class="d-flex justify-content-center">
						<span class="col-10 p-0">
							디 아틀라스 '프로 스탠다드 24' 주짓수 도복 (3 컬러)<br>
							172,000원
						</span>	
					</div>
				</div>
				<!-- /상품카드 -->
				<!-- 상품카드 -->
				<div>
					<div class="d-flex justify-content-center">
						<img class="best-item" alt="상품" src="https://jiujitsukor.com/web/product/extra/big/202408/43fd8d19f59ea383e1ee55a04400b031.jpg">
					</div>
					<div class="d-flex justify-content-center">
						<span class="col-10 p-0">
							디 아틀라스 '프로 스탠다드 24' 주짓수 도복 (3 컬러)<br>
							172,000원
						</span>	
					</div>
				</div>
				<!-- /상품카드 -->
			</div>
			<div class="d-flex justify-content-between mb-2">
				<!-- 상품카드 -->
				<div>
					<div class="d-flex justify-content-center">
						<img class="best-item" alt="상품" src="https://jiujitsukor.com/web/product/extra/big/202408/43fd8d19f59ea383e1ee55a04400b031.jpg">
					</div>
					<div class="d-flex justify-content-center">
						<span class="col-10 p-0">
							디 아틀라스 '프로 스탠다드 24' 주짓수 도복 (3 컬러)<br>
							172,000원
						</span>	
					</div>
				</div>
				<!-- /상품카드 -->
				<!-- 상품카드 -->
				<div>
					<div class="d-flex justify-content-center">
						<img class="best-item" alt="상품" src="https://jiujitsukor.com/web/product/extra/big/202408/43fd8d19f59ea383e1ee55a04400b031.jpg">
					</div>
					<div class="d-flex justify-content-center">
						<span class="col-10 p-0">
							디 아틀라스 '프로 스탠다드 24' 주짓수 도복 (3 컬러)<br>
							172,000원
						</span>	
					</div>
				</div>
				<!-- /상품카드 -->
				<!-- 상품카드 -->
				<div>
					<div class="d-flex justify-content-center">
						<img class="best-item" alt="상품" src="https://jiujitsukor.com/web/product/extra/big/202408/43fd8d19f59ea383e1ee55a04400b031.jpg">
					</div>
					<div class="d-flex justify-content-center">
						<span class="col-10 p-0">
							디 아틀라스 '프로 스탠다드 24' 주짓수 도복 (3 컬러)<br>
							172,000원
						</span>	
					</div>
				</div>
				<!-- /상품카드 -->
				<!-- 상품카드 -->
				<div>
					<div class="d-flex justify-content-center">
						<img class="best-item" alt="상품" src="https://jiujitsukor.com/web/product/extra/big/202408/43fd8d19f59ea383e1ee55a04400b031.jpg">
					</div>
					<div class="d-flex justify-content-center">
						<span class="col-10 p-0">
							디 아틀라스 '프로 스탠다드 24' 주짓수 도복 (3 컬러)<br>
							172,000원
						</span>	
					</div>
				</div>
				<!-- /상품카드 -->
			</div>
			<div class="text-center">1 2 3 4 5</div>
		</article>
	</section>
</html>