<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/default}">
		
	<section layout:fragment="contents">
		<article>
			<h1 class="text-center mt-5">나의 주문내역</h1>
			<table class="table text-center mt-5">
				<thead>
					<tr>
						<th>선택</th>
						<th>상품명</th>
						<th>가격</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="align-middle"><input type="checkbox"></td>
						<td class="align-middle">
							<div class="d-flex align-items-center">				
								<img class="ml-5 my-2" width="150px" height="150px" alt="선택상품">
								<div class="ml-3">
									<div>상품명</div>
								</div>
							</div>
						</td>
						<td class="align-middle">
							<div class="good-price">가격</div>
						</td>
						<td class="align-middle">
							<h1 class="cart-delete-btn"><i class="bi bi-x-lg"></i></h1>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="border border-dark mt-4">
				<div class="mx-5 my-2">주문상품</div>
				<div class="border-top border-dark d-flex justify-content-between mx-5">
				 <span class="my-3">총 상품금액</span>
				 <span class="my-3">000,000원</span>
				</div>
			</div>
		</article>		
	</section>
	<script layout:fragment="script">
		$(document).ready(function(){
			
			// 장바구니 삭제
			$(".cart-delete-btn").on("click",function(){
				let cartId = $(this).data("cart-id");
				
				$.ajax({
					type:"delete"
					, url: "/api/cart-delete"
					, data: {"cartId":cartId}
					, success: function(data){
						if(data.result == "success"){
							location.reload();
						}else{
							alert("장바구니 삭제 오류");
						}
					}
					, error: function(){
						alert("장바구니 삭제 에러");
					}
				});
			})
                
		});
	</script>
	
</html>