<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/default}">
		
	<section layout:fragment="contents">
		<h1 class="text-center mt-5">주문/결제</h1>
		<article class="col-12">
		<!-- 주문상품 -->
			<div class="d-flex justify-content-center">
				<div class="col-10 mt-3">
					<h4>주문 정보</h4>	
						<div>주문자</div>
						<input th:value="${order.userName}" class="form-control" id="orderName">
						<div>전화번호</div>
						<div class="d-flex">
							<select name="phoneStart"  class="form-control mr-2" id="phone1">
								<option value="010">010</option>
								<option value="011">011</option>
								<option value="016">016</option>
								<option value="017">017</option>
								<option value="018">018</option>
								<option value="019">019</option>
							</select>
							<h3>-</h3>
							<input type="text" class="form-control mx-2" id="phone2" th:value="${order.phoneNum2}">
							<h3>-</h3>
							<input type="text" class="form-control ml-2" id="phone3" th:value="${order.phoneNum3}">
						</div>
						<div>주소</div>
						<div class="d-flex">	
							<input type="text" placeholder="우편번호" class="form-control col-4 mb-1" id="zipCode" th:value="${order.userZipCode}">
							<button class="btn btn-outline-secondary form-control ml-2 col-2" type="button" id="findAddressBtn">주소 검색</button>
						</div>
						<input type="text" placeholder="기본주소" class="form-control mb-1" id="address" th:value="${order.userAddress}">
						<input type="text" placeholder="상세주소" class="form-control mb-2" id="detailAddress" th:value="${order.userDetaileAddress}">
					<!-- 주문상품 -->
					<h4 class="mt-4">주문 상품</h4>
					<table class="table text-center mt-2">
						<thead>
							<tr>
								<th>상품명</th>
								<th>가격</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="align-middle">
									<div class="d-flex align-items-center">				
										<img class="ml-5 my-2" width="150px" height="150px" alt="선택상품" th:src="${order.goodsImage}">
										<div class="ml-3">
											<div id="goodName" th:data-good-id="${order.goodsId}" th:data-good-name="${order.goodsName}" th:text="${order.goodsName}">상품명</div>
										</div>
									</div>
								</td>
								<td class="align-middle">
									<div class=".good-price" th:text="|${#numbers.formatInteger(order.goodsPrice, 3, 'COMMA')}원|">가격</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="border border-dark mt-4">
						<div class="mx-5 my-2">주문상품</div>
						<div class="border-top border-dark d-flex justify-content-between mx-5">
						 <span class="my-3">총 상품금액</span>
						 <span id="total" th:data-total-price="${order.goodsPrice}" th:utext="|<b>${#numbers.formatInteger(order.goodsPrice, 3, 'COMMA')}</b>원|" class="my-3 display-5">000,000원</span>
						</div>
					</div>
				<!-- 주문상품 -->
					<h4 class="mt-4">결제 수단</h4>
					<div class="d-flex mt-3">
						<input id="cardPayBtn" class="btn btn-outline-secondary form-control mr-3" type="button" value="카드결제">
						<input class="btn btn-outline-secondary form-control" type="button" value="무통장 입금">
					</div>
					<button class="btn btn-dark btn-block mt-3">결제하기</button>
				</div>
			</div>
		</article>
	</section>
	<th:block layout:fragment="apiLink">
	<!-- 결제 -->
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
	<!-- 주소 찾기 -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	</th:block>
	<script layout:fragment="script">
		$(document).ready(function(){
			
			
			
			
			var IMP = window.IMP; 
	        IMP.init("imp72853673");
			
			//결제 하기
			$("#cardPayBtn").on("click",function(){
				// 주문번호 결제 예정금액 전달
				var merchantUid = "order" + new Date().getTime();
				// var total = $("#total").data("total-price");
				var total = 10;
				
				$.ajax({
	                url: "/api/payment/prepare",
	                method: "post",
	                contentType: "application/json",
	                data: JSON.stringify({
	                    merchantUid: merchantUid // 가맹점 주문번호
	                    , amount: total // 결제 예정금액
	                })
	            });
				
				// iamport api
				var name = $("#orderName").val();
				var goodsName = $("#goodName").data("good-name");
				var goodsId = $("#goodName").data("good-id");
				var phone = $("#phone1").val()+"-"+$("#phone2").val()+"-"+$("#phone3").val();
				var postcode = $("#zipCode").val();
				var address = $("#address").val()+ "_" + $("#detailAddress").val();
				
				IMP.request_pay({
                    pg: "html5_inicis",		//KG이니시스 pg파라미터 값
                    pay_method: "card",		//결제 방법
                    merchant_uid: merchantUid,//주문번호
                    name: goodsName,		//상품 명
                    amount: 10,			//금액
      				buyer_name: name,
      				buyer_tel: phone,
      				buyer_addr: address,
      				buyer_postcode: postcode
	            }, function (rsp) { 
	            	if (rsp.success) {
	            		$.ajax({
	                            url: "/api/payment/validate",
	                            method: "POST",
	                            contentType: "application/json",
	                            data: JSON.stringify({
	                                impUid: rsp.imp_uid
	                               ,merchantUid: rsp.merchant_uid
	                            })
                        }).done(function (data) {
                            var mesg = '결제가 완료되었습니다.';
                        	alert(mesg);
                            var orderInfo = {
                                "merchantUid": rsp.merchant_uid
                                , "payMethod": rsp.pay_method
                                , "userName": rsp.buyer_name
                                , "amount": rsp.paid_amount
                                , "phone": rsp.buyer_tel
                                , "address": rsp.buyer_addr
                                , "postcode": rsp.buyer_postcode
                            }

                         	   $.ajax({
                                type: "post"
                                , url: "/api/order-save"
                                , contentType: "application/json"
                                , data: JSON.stringify(orderInfo)
                                , success: function(data){
            						if(data.result == "success"){
            							
            						}else{
            							alert("주문정보 저장 오류");
            						}
            					}
            					, error: function(){
            						alert("주문정보 저장 에러");
            					}
                            });
                        }).done(function (data) {
                        	var mesg = '결제정보가 저장되었습니다.';
                        	alert(mesg);
                        	var orderListInfo = {
                                    "merchantUid": rsp.merchant_uid,
                                    "goodsId": goodsId,
                                }
                        	$.ajax({
                                type: "post"
                                , url: "/api/orderList-save"
                                , contentType: "application/json"
                                , data: JSON.stringify(orderListInfo)
                                , success: function(data){
            						if(data.result == "success"){
            							location.href = "/nowjiu/order-list"
            						}else{
            							alert("주문정보 저장 오류");
            						}
            					}
            					, error: function(){
            						alert("주문정보 저장 에러");
            					}
                            });
                        	
                        }).done(function (data) {
                        	$.ajax({
                                url: "/api/payment/delete-prepare"
                                ,method: "delete"
                                ,contentType: "application/json"
                                ,data: JSON.stringify({
                                	merchantUid: merchantUid
                                })
                            });
                        	location.href = "/nowjiu/order-list";
                        });
                    } else {
                    	alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
                        $.ajax({
                            url: "/api/payment/delete-prepare"
                            ,method: "delete"
                            ,contentType: "application/json"
                            ,data: JSON.stringify({
                            	merchantUid: merchantUid
                            })
                        });
                        alert(mesg);
                    }
                });
			});//function
			
			//우편번호 찾기
			$("#findAddressBtn").on("click",function(){
				new daum.Postcode({
		            oncomplete: function(data) {
		                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

		                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
		                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
		                var addr = ''; // 주소 변수
		                var extraAddr = ''; // 참고항목 변수

		                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
		                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
		                    addr = data.roadAddress;
		                } else { // 사용자가 지번 주소를 선택했을 경우(J)
		                    addr = data.jibunAddress;
		                }

		                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
		                if(data.userSelectedType === 'R'){
		                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
		                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
		                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
		                        extraAddr += data.bname;
		                    }
		                    // 건물명이 있고, 공동주택일 경우 추가한다.
		                    if(data.buildingName !== '' && data.apartment === 'Y'){
		                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
		                    }
		                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
		                    if(extraAddr !== ''){
		                        extraAddr = ' (' + extraAddr + ')';
		                    }
		                    // 조합된 참고항목을 해당 필드에 넣는다.
		                    document.getElementById("inputDetailAddress").value = extraAddr;
		                
		                } else {
		                    document.getElementById("inputDetailAddress").value = '';
		                }

		                // 우편번호와 주소 정보를 해당 필드에 넣는다.
		                document.getElementById("inputZipCode").value = data.zonecode;
		                document.getElementById("inputAddress").value = addr;
		                // 커서를 상세주소 필드로 이동한다.
		                document.getElementById("inputDetailAddress").focus();
		            }
		        }).open();
			});
			
			
		});
	</script>
</html>