<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<header>
			<div class="header-top d-flex align-items-end justify-content-around">
				<h1 class="logo font-weight-bold" id="logoBtn">NOWJIU</h1>
				<div class="search-bar">
					<div class="input-group">
						<input type="text" class="form-control">
						<div class="input-group-append" >
							<span class="input-group-text">
						    	<i class="bi bi-search"></i>
							</span>
						</div>
					</div>
				</div>
				<div>
					<span class="small" th:if="${session.userId != null}" th:utext="|<b>${session.userName}</b> 회원님 환영합니다.|">사용자이름</span>
					<h1>
						<a href="/nowjiu/logout"><i th:if="${session.userId != null}" class="bi bi-box-arrow-in-left text-dark"></i></a>
						<a href="/nowjiu/login"><i th:unless="${session.userId != null}" class="bi bi-box-arrow-in-left text-dark"></i></a>
						<i class="bi bi-person"></i>
						<i class="bi bi-bag"></i>
					</h1>
				</div>
			</div>
			<div class="menu d-flex align-items-center justify-content-between font-weight-bold mt-4">
				<nav>
		            <ul class="nav nav-fill">
		                <li class="nav-item"><a class="nav-link" href="#">ABOUT</a></li>
		                <li class="nav-item"><a class="nav-link" href="/nowjiu/goods?category=도복">주짓수 도복</a></li>
		                <li class="nav-item"><a class="nav-link" href="/nowjiu/goods?category=노기">주짓수 노기</a></li>
		                <li class="nav-item"><a class="nav-link" href="/nowjiu/goods?category=벨트">주짓수 벨트</a></li>
		                <li class="nav-item"><a class="nav-link" href="/nowjiu/goods?category=보호용품">보호용품</a></li>
		                <li class="nav-item"><a class="nav-link" href="/nowjiu/goods?category=의류">의류</a></li>
		                <li class="nav-item"><a class="nav-link" href="/nowjiu/goods?category=악세사리">악세사리</a></li>
		            </ul>
	            </nav>
	            <span>COMMINITY</span>
            </div>
		</header>
		<script>
			$(document).ready(function(){
				$("#logoBtn").on("click", function(){
					location.href = "/nowjiu/main"	
				});
			});
		</script>
</html>